/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/.editorconfig
/.env.example
/.gitattributes
/.styleci.yml
/composer.lock
/package.json
/package-lock.json
/phpunit.xml
/tests/
/app/
bootstrap/
src/config/
database/
public/
routes/
server.php
storage/
webpack.mix.js

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
artisan
